@import "styles/variables.scss";

.wishlist {
  padding: 80px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  h2 {
    margin-bottom: 40px;
    font-size: 66px;
    font-weight: 600;
  }
}

.item {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  max-width: 900px;
  width: 100%;
  background-color: $gray;
  border-radius: 10px;
  transition: all 0.5s;
  &:hover {
    background-color: $black;
  }

  @media (max-width: 860px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(max-width:680px){
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  img {
    max-width: 100px;
    border-radius: 10px;
  }

  h4 {
    font-size: 26px;
    text-align: center;
  }

  p {
    @include button;
    font-size: 26px;
    font-weight: 400;
    cursor: pointer;
    max-width: 100px;

    @media (max-width: 860px) {
      display: none;
    }
  }

  button svg {
    color: $red;
    transition: all 0.5s;
    &:hover {
      color: $light-red;
    }
  }
}
